main.wrapper {
    display: flex;
    flex-direction: column;
}

form#captcha_form {
    display: flex;
    flex-direction: column;
}

form#captcha_form ol {list-style: none outside none;}
form#captcha_form label.solo, form#captcha_form span.category {
    display: flex;
    flex-direction: column;
    
    /*
	display:		block; 
	float:			left; 
	font-weight:	bold;*/
}

label.solo {
    font-weight: bold;
    margin-top: 10px;
}
span.required {
    display: flex;
    flex-direction: column;
    /*
	clear:			left;
	color:			#888888;
	display:		block;
	float:			left;
    width:			100px;
    */
}
form#captcha_form li div.soloinput, img#captcha{
    display:		flex;
    flex-direction: column;
}

form#captcha_form li input.soloinput, form#captcha_form li select.soloinput, form#captcha_form li textarea.soloinput {
	width: 			250px;
	height:			40px;
	padding:		7px;
	margin-top: 	10px;
	border:			#888888 1px solid;
}

form#captcha_form li div.soloinput {
    height: 200px;
}
form#captcha_form li textarea.soloinput {
	height:			300px;
}
form#captcha_form li div.soloinput {
	border:			0px;
	padding:		0px;
}
form#captcha_form li select.soloinput{ 
	width:			266px;
	height:			36px;
}
form#captcha_form li input.city {
	width: 			154px;
	height:			21px;
	font-family:	inherit;
	font-size:		inherit;
	padding:		7px;
	margin-top: 	2px;
	border:			#888888 1px solid;
	margin-right:	0px;
	padding-right:	0px;
}
form#captcha_form li span.comma {
	display:		inline;
	font-family:	inherit;
	font-size:		inherit;
	padding:		7px;
	margin-left:	0px;
	padding-left:	0px;
	margin-right:	0px;
	padding-right:	0px;
	/*readonly:		true;*/
}
form#captcha_form li input.state {
	width: 			80px;
	height:			21px;
	font-family:	inherit;
	font-size:		inherit;
	padding:		7px;
	margin-top: 	2px;
	border:			#888888 1px solid;
	margin-left:	0px;
	padding-left:	0px;
}
form#captcha_form li input#zip {
	width:			90px;
	height:			21px;
}
form#captcha_form li select#month {
	width: 			128px;
	height:			36px;
	font-family:	inherit;
	font-size:		inherit;
	padding:		7px;
	margin-top: 	2px;
	border:			#888888 1px solid;
}
form#captcha_form li select#day {
	width: 			60px;
	height:			36px;
	font-family:	inherit;
	font-size:		inherit;
	padding:		7px;
	margin-top: 	2px;
	border:			#888888 1px solid;
}
form#captcha_form li select#year {
	width: 			60px;
	height:			36px;
	font-family:	inherit;
	font-size:		inherit;
	padding:		7px;
	margin-top: 	2px;
	border:			#888888 1px solid;
}
form#captcha_form li img#captcha {
	font-family:	inherit;
	font-size:		inherit;
	padding:		7px;
	margin-top: 	0;
}
fieldset {
	border:			0px;
	padding:		0px;
	margin:			0px;
	padding-right:	0;
	display:		block;
	min-width:		250px;
}
form#captcha_form li {
	border-bottom:	1px dashed #999999;
	height:			1%;
	padding:		12px 0 12px 0;
	position: 		relative;
}
form#captcha_form a.soloinput {
	max-width: 		350px;
	min-width:		250px;
	font-size:		14px;
}
#ht {
	display:		none;
}

input.btn {
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #541c1d;
    color: #fff;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

input.btn:hover {
    background-color: #996666;
}

/* medium media query */
@media only screen and (min-width: 32.5em) {
 
    main.wrapper {
        display: flex;
        flex-direction: row;
    }

    form#captcha_form ol {list-style: none outside none;}
    form#captcha_form label.solo, form#captcha_form span.category,
    label.solo  {
        display:		block; 
        font-weight:	bold;
        float: left;
    }
 
    span.required {
        display: block;
        text-align: right;
        width:			100px;
        
    }

    form#captcha_form li input.soloinput, form#captcha_form li select.soloinput {
        width: 			400px;
        height:			40px;
        padding:		7px;
        margin-top: 	10px;
        border:			#888888 1px solid;
    }
    
    form#captcha_form li div.soloinput {
        height: 150px;
        align-items: center;
    }

    form#captcha_form li textarea.soloinput {
        min-height:	100px;
        margin-top: 10px;
        width: 400px;
    }
 

}