body {
    margin: 0;
    padding: 0;
    max-width: 100%;

}

div.main-wrapper {
    margin: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
/*
@media only screen and (min-width: 60em) {
    div.right-content {
        padding-left: 30px;
    }

    h1 {
        margin-right: 50px;
    }

    hr.style1 {
        margin: 0 100px 30px 60px;
    }

    div.right-content p {
        margin-right: 45px;
    }
}
*/
.label {margin: 2px 0;}
.field {margin: 0 0 20px 0;}	
    .content {max-width: 800px;margin: 0 auto;}
    h1, h2 {    
        font-family: "Roboto", sans-serif;
        font-weight: normal;}
    div#central {margin: 40px 0px 100px 0px;}
/*
    @media all and (min-width: 768px) and (max-width: 979px) {.content {width: 750px;}}
    @media all and (max-width: 767px) {
        body {margin: 0 auto;word-wrap:break-word}
        .content {width:auto;}
        div#central {	margin: 40px 20px 100px 20px;}
    }*/
    
    
    body {font-family: "Roboto", sans-serif;;background:#ffffff;margin: 0 auto;-webkit-font-smoothing: antialiased;  font-size: initial;line-height: 1.7em;}	
    input, textarea {width:100%;padding: 15px;font-size:1em;border: 1px solid #A1A1A1;	}
    button {
        padding: 12px 60px;
        background: #541c1d;
        border: none;
        color: #fff;
        font-size:1em;
        font-family: "Roboto", sans-serif;
        cursor: pointer;	
    }

    button:hover {
        background: #514f4f;
    }
    #message {  padding: 0px 20px 0px 0px; }
    #mail-status {
        padding: 12px 20px;
        width: 100%;
        display:none; 
        font-size: 1em;
        font-family: "Roboto", sans-serif;
        color: rgb(40, 40, 40);
    }
  .error{background-color: #F7902D;  margin-bottom: 40px;}
  .success{background-color: #b18989; }
    .g-recaptcha {margin: 0 0 25px 0;}	  