body {
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-bottom: 40px;
}

p {
    color: #000000;
}

label {
    color: #541c1d;
    font-size: 1.2em;
    font-weight: bold;
}

.contact-row {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}


@media screen and (prefers-reduced-motion:reduce) {
    .btn {
        transition: none
    }
}

.btn-success {
    color: #fff;
    background-color: #541c1d;
    border-color: #663333;
}

.btn-success:hover {
    color: #fff;
    background-color: #514f4f;
    border-color: #3c3537;
}

.btn-success.focus,
.btn-success:focus {
    box-shadow: 0 0 0 .2rem #996666;
}

.btn-success.disabled,
.btn-success:disabled {
    color: #fff;
    background-color: #663333;
    border-color: #663333;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #3c3537;
    border-color: #514f4f;
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem #996666;
}
