/* large media query */
@media only screen and (min-width: 60em) {
   
	.header-container {
		padding-top: 15px;
		padding-bottom: 15px;
		border-bottom: hidden;
	
	}
	
	.top-logo {
		max-width: 350px;
	}

	.top-contact {
		width: 150px;
	}

	.left-wrapper {
        width: 30%;
    }
    
    .right-wrapper {
        width: 70%;
     }
 
}