/* large media query */
@media only screen and (min-width: 32.5em) {
   
	.header-container {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.top-logo {
		max-width: 275px;
	}

	.top-contact {
		width: 100px;
	}

	.wrapper {
		display: flex;
		flex-direction: row;
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }
    
    .left-wrapper {
         width: 35%;
        align-items: center;
    }
    
    .right-wrapper {
         width: 65%;
    	padding-left: 30px;
    }

	#full-width-bottom {
		padding: 10px;
	}

	#full-width-bottom .footer-row {
		display: grid;
		grid-template-columns: 1.2fr 1fr .8fr .8fr;
		grid-template-rows: 1fr;
		align-items: center;
	}
 
}