main {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 1.5em;
    padding: 2em 0;
    grid-template-columns: 1fr 75% 1fr;
 
    @media (max-width: 750px) {
        grid-template-columns: 2rem 1fr 2rem;
    }
}

main>* {
    grid-column: 2 / span 1;
}

.full-width {
    grid-column: 1 / -1;
}

img {
    width: 100%;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
}

.card>*+* {
    padding-top: 0.5em;
}

/* The magic. This 👇 is what you're here for */

.img-wrapper {
    position: relative;
    width: 100%;
    padding-top: 120%;
    overflow: hidden;
    border: #000 4px double;
}

.img-wrapper>img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.caption {
    text-align: center;
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 90%;
    font-style: italic;
}

.underline {
    text-decoration: underline;
    font-weight: bold;
}

p {
    color: #000;
}